.admin-sidebar {
  /* margin-left: 250px; */
  /* width: calc(100% - 250px); */
  width: 300px;
  min-height: 100vh;
  background: linear-gradient(180deg, #293073, #1f255a);
  padding: 28px 20px;
}

.admin-sidebar h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 35px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin-bottom: 10px;
}

/* REMOVE BLUE LINKS */
.admin-sidebar a {
  display: block;
  padding: 12px 14px;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.admin-sidebar a:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #ffffff;
}

.logout {
  margin-top: 50px;
  padding: 12px 14px;
  color: #ff4d4d;
  font-weight: 600;
  cursor: pointer;
}

.logout:hover {
  text-decoration: underline;
}
