/* * {
  box-sizing: border-box;
} */

.quiz-container * {
  box-sizing: border-box;
}
.admin-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  min-width: 700px;
}
.admin-main {
  width: 100%;
  overflow-x: hidden;
}

.open-btn {
  padding: 10px 18px;
  background: var(--danger);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
}

/* Cards */
.admin-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}

.admin-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 22px;
  min-height: 220px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
  border-top: 5px solid #00b3b3;
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 179, 179, 0.25);
}

.admin-card h3 {
  color: var(--primary-dark);
  margin-bottom: 10px;
  font-weight: 600;
}

.admin-card p {
  font-size: 14px;
  color: #6b7280;
}

.admin-card button {
  margin-top: 18px;
  padding: 10px 18px;
  background: linear-gradient(135deg, var(--accent), var(--accent-light));
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.admin-card button:hover {
  background: linear-gradient(135deg, var(--accent-light), var(--accent));
}

@media (max-width: 768px) {
  .admin-main {
    padding: 20px;
  }

  .admin-card {
    padding: 25px;
    min-height: auto;
  }

  .admin-card h3 {
    font-size: 16px;
  }

  .admin-card p {
    font-size: 13px;
  }
}
