.reviews-container {
  padding: 30px;
  background: #f4f6fb;
  min-height: 100vh;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -25px;
}

.reviews-header h2 {
  font-size: 22px;
  color: #2c3e50;
}

.filter-section select {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

/* ===== MODAL STYLES ===== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: -150px;
  right: 50px;
  width: 60%;
  height: 35%;
  /* background: rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: white;
  border: 2px solid #293073;
  width: 550px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.modal-box h3 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.modal-box p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cancel-btn {
  padding: 7px 16px;
  border: none;
  background: #bdc3c7;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #95a5a6;
}

.confirm-btn {
  padding: 7px 16px;
  border: none;
  background: #e74c3c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-btn:hover {
  background: #c0392b;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.table-wrapper {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}

.reviews-table {
  width: 100%;
  border-collapse: collapse;
}

.reviews-table th {
  background: #2c3e50;
  color: white;
  padding: 12px;
  font-weight: 500;
}

.reviews-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.reviews-table tr:hover {
  background: #f9fbff;
}

.software {
  font-weight: 600;
  color: #34495e;
}

.review-text {
  max-width: 250px;
}

.stars {
  display: flex;
}

.star {
  font-size: 16px;
  color: #ccc;
}

.star.filled {
  color: #f4b400;
}

.deleted-btn {
  display: flex;
  align-items: center;
  gap: 5px;

  border: 1px solid red;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.deleted-btn:hover {
  background: #c0392b;
}

.no-data {
  text-align: center;
  padding: 20px;
  color: gray;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pagination button {
  padding: 6px 14px;
  border: none;
  background: #2c3e50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
