.manage-users-container {
  padding: 20px;
  background: #f4f6f9;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

/* Search */
.search-input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
}

/* Table */
.users-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.users-table th,
.users-table td {
  padding: 12px;
  text-align: left;
}

.users-table th {
  background: #2c3e50;
  color: white;
  cursor: pointer;
}

.users-table tr {
  border-bottom: 1px solid #ddd;
}

.users-table tr:hover {
  background-color: #f1f3f5;
}

/* Delete Button */
.deleted-btn {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.deleted-btn:hover {
  background-color: #d9363e;
  transform: scale(1.05);
}

/* Pagination */
.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Loader */
.loader {
  font-size: 18px;
  font-weight: bold;
}

/* No data */
.no-data {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 30%;
  /* background: #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-left: 500px;
  z-index: 1000;
}

/* Modal Box */
.modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.modal h3 {
  margin-bottom: 20px;
}

/* Buttons */
.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.cancel-btn {
  margin-left: 120px;
  padding: 8px 15px;
  border: none;
  background: #6c757d;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-btn {
  padding: 8px 15px;
  margin-right: 120px;
  align-self: center;
  align-items: center;
  border: none;
  background: #ff4d4f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-btn:hover {
  background: #d9363e;
}
.cancel-btn:hover {
  background-color: #ccc;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
