.profile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.profile-panel {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 450px;
  max-height: 85vh;
  overflow-y: auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  padding: 20px;
  z-index: 1000;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.profile-panel::-webkit-scrollbar {
  width: 6px;
}
.profile-panel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.profile-hero {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.profile-large-avatar {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.member-date {
  font-size: 12px;
  color: gray;
}

.profile-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.stat-card {
  background: #f5f7fa;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-3px);
  background-color: #42f70a;
  color:black;
  font-weight: bold;
}

.profile-insight {
  margin-top: 20px;
  padding: 12px;
  background: #eef6ff;
  border-radius: 12px;
  font-size: 14px;
}

.profile-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-actions button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #2b4eff;
  color: white;
}

.logout-btn {
  background: #ff4d4f !important;
}

.profile-loading {
  text-align: center;
  padding: 40px;
}
.profile-initial {
  width: 95px;
  height: 95px;
  background: linear-gradient(135deg, #2b4eff, #5f7dff);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin: 0 auto 15px auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.username-section {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.username-section h3 {
  margin: 0;
}

.edit-icon {
  cursor: pointer;
  /* margin-left: 10px ; */
  font-size: 16px;
  position: absolute;
  top: 0;
  right: -50px;
  
}

.username-input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.save-btn {
  background: #2b4eff;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn:hover {
  background: #1f3bd9;
}
